


.d-flex{
     flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
}
/* .d-flex flex-row{
    background-color: rgb(162, 160, 185);
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
} */
.menu{
    text-decoration: none;
}


.
















